.container {
  @apply flex flex-col justify-center items-center gap-10 pb-10;

  h1 {
    @apply mt-20 text-4xl font-normal text-center
  }

  :nth-child(2) {
    &:not(.error) {
      @apply max-w-screen-sm mr-6
    }
  }

  :nth-child(3) {
    @apply max-w-screen-sm mr-6
  }

}

.finderWrapper {
  @apply
    w-3/4 h-28 rounded-md bg-white flex justify-center items-center gap-5 px-8;

    .opacity {
      @apply bg-opacity-40;
    }

  :nth-child(2) {
    @apply px-10
  }
}

.error {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 3px;
  border-radius: 18px;
  border: 2px solid red;
  color: darkslategray;
}