@keyframes sizeSmaller {
  from {
    width: 100%;
  }

  to {
    width: 70px;
  }
}

@keyframes sizeGrowing {
  from {
    width: 70px;
  }

  to {
    width: 100%;
  }
}


@media (max-width: 992px) {
  .container {
    display: grid;
    grid-template-areas:
    'first second .'
    'first second third'
    'first second third'
    'first second third'
    'first second .'
    'first second .'
  ;

  .firstCol {
    width: 70px;
    animation: sizeSmaller 2s forwards;
  }
  }
}
@media (min-width: 992.1px) {
  .container {
    display: grid;
    grid-template-areas:
    'first second second second .'
    'first second second second third'
    'first second second second third'
    'first second second second third'
    'first second second second .'
    'first second second second .'
  ;
  }
  .firstCol {
    animation: sizeGrowing 2s forwards;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  column-gap: 15px;
  
  @apply p-10;

  .firstCol {
    grid-area: first;
    height: 90vh;
  }

  .secondCol {
    grid-area: second;
    @apply flex flex-col gap-9 mt-5;
  }

  .thirdCol {
    grid-area: third;
  }
  
}