.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  column-gap: 15px;
  grid-template-areas:
    'first second second second .'
    'first second second second third'
    'first second second second third'
    'first second second second third'
    'first second second second .'
    'first second second second .'
  ;
  @apply p-10;

  .firstCol {
    grid-area: first;
    height: 90vh;
  }

  .secondCol {
    grid-area: second;
    @apply flex flex-col gap-9 mt-5;
  }

  .thirdCol {
    grid-area: third;
  }
  
}