
.fullBidWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;

  .title {
    @apply self-start p-0
  }

  .bidDescription {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    width: 100%;
    height: 100%;
    @apply pt-20 px-14 rounded-tl-3xl rounded-bl-3xl; // TODO заглушка, без нее кривое отображение
    .btn {
      @apply
        hover:bg-slate-300
        bg-my-white
        text-black text-lg font-medium text-nowrap
        w-60 h-14
        rounded-3xl
        self-start
        mt-5
    }
    .textDescription {
      // font-size: 20px;
      // line-height: 24px;
      @apply text-white self-center md:text-xs lg:text-sm xl:text-lg 2xl:text-xl;
    }
  }
  
  .bidForm {
    @apply pt-20 px-8;
    .form {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 2fr 1fr;
      @apply
      h-4/5
      pt-10
      [&>*:nth-child(1)]:self-end
      [&>*:nth-child(2)]:self-end
      [&>*:nth-child(4)]:justify-start
      [&>*:nth-child(4)]:self-start
    }
  }

  .imgWrapper {
    @apply flex flex-row gap-5 justify-center items-center mb-10;
    
    .label {
      @apply relative;
    }

    .imageCount {
      @apply absolute text-sm font-semibold -right-2 -bottom-2;
    }
  }

  .img {
    transition: all 200ms;
    @apply hover:cursor-pointer hover:-translate-y-1
  }
}

.blue {
  @apply bg-my-blue;
}

.green {
  @apply bg-my-green;
}

.orange {
  @apply bg-my-orange;
}

.red {
  @apply bg-my-red;
}

.white {
  @apply bg-my-white;
}

.error {
  @apply border border-red-600 rounded-md;
}