@keyframes sizeSmallerDivider {
  from {
    width: 240px;
  }

  to {
    width: 50px;
  }
}

@keyframes sizeGrowingDivider {
  from {
    width: 50px;
  }

  to {
    width: 240px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 50px;
  }
  .divider {
    animation: sizeSmallerDivider 1s forwards ;
    width: 50px;
  }
  .image {
    @apply hover:size-10
  }
  .title {
    display: none;
  }
}

@media (min-width: 992.1px) {
  .container {
    width: 240px;
  }
  .divider {
    animation: sizeGrowingDivider 1s forwards;
    width: 240px;
  }
  .image {
    @apply size-9
  }
}

.container {
  @apply
  h-16 bg-white
  flex flex-row items-center gap-4
  hover:cursor-pointer
  text-slate-500
  hover:text-slate-700
  ;
  .title {
    @apply text-xl font-normal 
  }
}

.hover {
  @apply hover:shadow-sm hover:cursor-pointer;
}

.divider {
  @apply h-0.5 bg-slate-300 rounded-md
}

.justifyBetween {
  @apply justify-between;
}

.justifyStart {
  @apply justify-start;
}

.active {
  @apply bg-slate-100 rounded-t-3xl;
}